* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  max-width: 111rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin: 1rem;
}

.testimonial {
  border-radius: 9px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-daniel {
  background-color: hsl(263, 55%, 52%);
  grid-column: 1 / span 2;
  background-image: url(images/bg-pattern-quotation.svg);
  background-position: top 0vh right 5vw;

  background-repeat: no-repeat;
}
.testimonial-jonathan {
  background-color: hsl(217, 19%, 35%);
}
.testimonial-jeanette {
  background-color: #fff;
}
.testimonial-patrick {
  background-color: hsl(219, 29%, 14%);
  grid-column: 2 / span 2;
}
.testimonial-kira {
  background-color: #fff;
  grid-column: 4;
  grid-row: 1 / span 2;
}

/*Testimonials*/

.profile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.profile-img {
  width: 3rem;
  border-radius: 50%;
  border: 2px solid #fff;
}

.personal-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.12rem;
}

.name {
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: 600;
}
.name-light {
  color: #fff;
}
.name-dark {
  color: hsla(217, 30%, 14%, 0.693);
}
.graduate {
  color: rgba(255, 255, 255, 0.393);
  font-size: 1.3rem;
  font-weight: lighter;
  align-self: flex-start;
}
.graduate-dark {
  color: rgb(148, 145, 145);
}
.subheading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.subheading-light {
  color: rgba(255, 255, 255, 0.873);
}
.subheading-dark {
  color: hsla(217, 30%, 14%, 0.738);
}
.text {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
}
.text-light {
  color: rgba(255, 255, 255, 0.474);
}
.text-dark {
  color: hsla(217, 30%, 14%, 0.596);
}
.purple-border {
  border: 2px solid hsla(263, 41%, 63%, 0.564);
}

/*All boxes too high, try to find a way to concider paddings, margin bottoms and line heights
*/

@media (max-width: 67em) {
  .testimonial {
    justify-content: unset;
  }
  .subheading {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .card {
    margin: 2.5rem;
  }
}

@media (max-width: 60em) {
  .card {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 2.5rem;
  }
  .testimonial-daniel {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .testimonial-jonathan {
    grid-row: 2;
    grid-column: 1;
  }
  .testimonial-jeanette {
  }
  .testimonial-patrick {
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  .testimonial-kira {
    grid-column: 2;
    grid-row: 2 / span 2;
  }
}

@media (max-width: 45em) {
  .container {
    height: unset;
  }
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }
  .subheading {
    font-size: 2.03rem;
  }

  .text {
    font-size: 1.38rem;
    line-height: 1.4;
  }

  .testimonial-daniel {
    grid-column: 1;
    grid-row: 1;
  }
  .testimonial-jonathan {
    grid-row: 2;
    grid-column: 1;
  }
  .testimonial-jeanette {
    grid-column: 1;
    grid-row: 3;
  }
  .testimonial-patrick {
    grid-column: 1;
    grid-row: 4;
  }
  .testimonial-kira {
    grid-column: 1;
    grid-row: 5;
  }
}

/*Wrapp up fontsizes at mobile design*/
